1. extract image features with all feature extraction modules separately
2. run simple SVm classifier to see what feature is working good or not working at all
3. scale and Concatenate all the features and do the same classification